body {
  font-family: 'Karla', sans-serif;
}

header {
  background-color: #333333;
  color: #FFFFFF;
  height: 120px;
  padding: 0 25px;
  transition: all 0.4s ease;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

header.sticky {
  position: fixed;
  height: 80px;
}

nav ul li {
  transition: all 0.4s ease;
}

#logo {
  float: left;
  font-size: 250%;
  margin-top: 45px;
  margin-left: 110px;
  font-weight: 900;
  letter-spacing: 3px;
}

#logo.sticky {
  font-size: 200%;
  letter-spacing: 2px;
  margin-top: 24px;
}

#last-name {
  color: #FFCC66;
}

.float-right {
  float: right;
  display: inline-block;
  font-size: 22px;
  padding: 5px;
  margin-top: 55px;
  margin-right: 75px;
}

.float-right.sticky {
  font-size: 18px;
  padding: 0px;
  margin-top: 32px;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:hover {
  color: #FFCC66;
  cursor: pointer;
}

#logo a:hover {
  color: #FFFFFF;
}

#pitch {
  text-align: center;
  background-color: #FFCC66;
  color: #FFFFFF;
}

#pitch-title {
  padding-top: 245px;
  font-weight: 900;
  font-size: 380%;
  text-align: center;
}

#pitch-hr {
  width: 250px;
  height: 6px;
  background-color: #FFFFFF;
  border: none;
}

#pitch p {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 180%;
  padding: 50px;
}

a .fa {
  color: #FFFFFF;
}

.online-links li {
  display: inline-block;
  margin: 10px 25px 135px 25px;
}

.online-links a .fa {
  transition-duration: 0.8s;
}

.online-links a .fa:hover {
  cursor: pointer;
  color: #333333;
}

.offset:before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#portfolio {
  height: 740px;
}

.section-title {
  font-weight: 800;
  font-size: 275%;
  text-align: center;
  margin-top: 80px;
}

.break {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 25px;
}

.portfolio-item {
  width: 31%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0px 10px;
}

.portfolio-image {
  border-radius: 4px;
  box-shadow: 9px 9px 4px #888888;
  margin: 30px 0 25px 0;
  transition-duration: 0.4s;
}

.portfolio-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.git-link {
  color: #FFCC66;
  display: block;
  font-weight: 900;
  font-size: 1.1rem;
  text-decoration: none;
  margin-top: 6px;
}

#about-me {
  background-color: #FFCC66;
  color: #333333;
  height: 570px;
}

#about-me-left {
  width: 375px;
  float: left;
}

#about-me-right {
  width: 375px;
  float: right;
}

#about-me-text {
  margin: 50px auto 0 auto;
  height: 220px;
  width: 800px;
}

#about-me-text p {
  font-size: 135%;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}

.turing-link {
  color: #333333;
}

#resume-line {
  font-weight: 600;
  font-size: 160%;
  margin-top: 40px;
  text-align: center;
}

#resume {
  text-decoration: none;
  color: #333333;
  transition-duration: 0.4s;
}

#resume i {
  margin-left: 20px;
  color: #333333;
}

#resume:hover {
  opacity: .6;
}

#contact-me {
  height: 702px;
}

form {
  text-align: center;
  font-size: 1.4rem;
  color: #333333;
}

label {
  margin-right: 12px;
}

#name, #email {
  outline: none;
  margin: 20px 0 10px 0;
  border: none;
  border-bottom: 2px solid #333333;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  text-indent: 8px;
}

textarea {
  resize: none;
  outline: none;
  margin: 30px 0px;
  font-size: 1rem;
  padding: 6px;
}

#submit-form {
  outline: none;
  border: none;
  background-color: #FFCC66;
  color: #333333;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-size: 1.1rem;
  text-align: center;
}

#submit-form:hover {
  opacity: .5;
  cursor: pointer;
  transition-duration: 0.4s;
}
#submit-form:active {
  transform: translateY(8px);
}

footer {
  background-color: #333333;
  height: 100px;
  color: #FFFFFF;
  text-align: center;
}

#footer-links li {
  padding: 12px;
  display: inline-block;
}

#footer-links a .fa {
  transition-duration: 0.8s;
}

#footer-links a .fa:hover {
  cursor: pointer;
  color: #FFCC66;
}

#rights {
  font-size: small;
}

@media screen and (max-width: 1000px) {
  header {
    display: none;
  }

  #pitch-title {
    padding-top: 50px;
    font-size: 280%;
  }

  #pitch-hr {
    width: 150px;
  }

  #pitch p {
    font-size: 140%;
    margin: auto;
    width: 290px;
    padding: 30px 0px;
  }

  .section-title {
    font-size: 175%;
    margin-top: 60px;
  }

  .online-links li {
    margin: 10px 25px 60px 25px;
  }

  #portfolio {
    height: 1000px;
  }

  .portfolio-item {
    width: 100%;
    display: block;
    margin: 10px 0px;
  }

  .portfolio-image {
    margin: 5px 0px 5px 0px;
    height: 160px;
    width: 160px;
  }

  .git-link, .description {
    font-size: 0.8rem;
    margin: 8px 0px 16px 0px;
  }

  #about-me {
    height: 470px;
  }

  #about-me-left {
    width: 275px;
    float: none;
    margin: 0px auto;
  }

  #about-me-right {
    display: none;
  }

  #about-me-text {
    margin: 50px auto 0 auto;
    height: 180px;
    width: 100%;
  }

  #about-me-text p {
    font-size: 100%;
    margin-bottom: 25px;
  }

  #resume-line {
    font-size: 120%;
    margin-top: 20px;
  }

  #contact-me {
    height: 620px;
  }

  form {
    font-size: 0.9rem;
  }

  label {
    margin-right: 6px;
  }

  #name, #email {
    font-size: 1rem;
    text-indent: 8px;
    width: 200px;
  }

  textarea {
    margin: 20px 0px;
    width: 300px;
    border: 1px solid #333333;
  }

  #submit-form {
    width: 80px;
    height: 35px;
    font-size: 1rem;
  }

}
